body
{
	font-family: "Lucida Sans Unicode", sans-serif;
	color: #033
}
#stock-table
{
	font-family: "Lucida Sans unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	margin: 30px;
	width: 650px;
	text-align: left;
	border-collapse: collapse;
}
#stock-table th
{
	font-size: 14px;
	padding: 12px 15px;
	color: #039;
}
#stock-table td
{
	padding: 2px 15px;
	color: #669;
	border-top: 1px solid #e8edff;
}
.columns
{
	background: #d0dafd;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
#stock-table tr:hover td
{
	color: #339;
	background: #eff2ff;
}
